body {
    font-family: 'Roboto Slab', serif;
    color: ;
    line-height: 1.7em;
}

strong {
    font-weight: 600;
}

a:link, a:visited, a:hover, a:active {
    color: #000000;
}

div#container {
    width: 680px;
    margin: 0 auto;
}

header {
    padding-top: 6em;
    padding-bottom: 1.5em;
}

section {
    padding-bottom: 1.5em;
}

h1 {
    font-size: 2em;
    font-weight: 600;
}
h2 {
    font-size: 1.3em;
    font-style: italic;
}

ul {
    list-style: circle;
}
ul > li {
    margin-left: 30px;
}
